.git
__pycache__
*.pyc
*.pyo
*.pyd
.venv
.env
node_modules
test_container_logs
.DS_Store
*.log
*.sqlite3
*.db
*.swp
*.swo
*.bak
*.tmp
coverage.*
dist
build
.eggs
*.egg-info
.cache
.pytest_cache
.vscode
.idea
*.iml
*.ipynb_checkpoints