# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
# Poetry
poetry.lock

# Node
node_modules/
js/node_modules/

# Docker
docker-compose.override.yml

# IDEs and OS
.vscode/
.idea/
.DS_Store
**/.claude/settings.local.json
